<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <meta name="viewport" content="width=device-width,
      initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<head>


    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
<nav>
<ul>
    <li> <a href="/clothes">clothes</a>></li>
    <li> <a href="/jacket">jacket</a>></li>
    <li> <a href="/shoes">shoes</a>></li>
</ul>
</nav>
<header>
    {% block content %} {% endblock %}
    <p> стоимость: {% block cost %} {% endblock %}</p>
</header>


<footer>
    <h3> Контакты: тел 89034578367, ст. Павловская ул. Ленина, д.5 </h3>
</footer>

</body>
</html>