<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if error %}
    <h2>Ошибка входа! Неверный логин или пароль</h2>
{% endif %}
<form method=post>
    <input type="text" placeholder="Введите имя" name="name"><br>
    <input type="password" placeholder="Введите пароль" name="password"><br><br>
    <input type=submit value=Отправить>
</form>
</body>
</html>